* {
    box-sizing: border-box;
    font-family:'Space Mono', monospace;
}



/* ------------------------------ Header ------------------------------  */


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    width: 316px;
    height: 24px;
}

.header-menu {
    display: flex;
    margin-right: 135px;
}

.header-menu li {
    list-style: none;
}

.header-menu a {
    text-decoration: none;
    color: black;
    margin-left: 70px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'Space Mono', monospace;
}

.header-menu a:hover {
    font-weight: 700;
}

#Btncontact {
    cursor: pointer;
}


/* ------------------------------  Footer ------------------------------  */


#footer {
    border-top: 1px solid black;
    width: 100%
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu li {
    list-style: none;
}

.footer-menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    line-height: 24px;
    margin-left: 70px;
    font-family: 'Space Mono', monospace;
}

.footer-menu a:hover {
    font-weight: 700;
}


.modale {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* ------------------------------ Contact ------------------------------  */

.modale-content {
    width: 600px;
    margin: auto;
    border: 5px solid black;
    margin-top: 150px;
    background-color: white;
}

.close {
    color: black;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: -350px;
    margin-top: -130px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contactimg {
    width: 590px;
    margin-top: 25px;
}

.form {
    padding-top: 20px;
}

.wpcf7-form {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.wpcf7-form-control {
    background-color: #fff;

}

.wpcf7-textarea {
    height: 210px;
    width: 263px;
    border: 1px solid #B8BBC2;
    border-radius: 10px;
    margin-top: 5px;
}

.wpcf7-text {
    height: 40px;
    width: 263px;
    border: 1px solid #B8BBC2;
    border-radius: 10px;
    margin-top: 5px;
}

.wpcf7-submit {
    height: 50px;
    width: 263px;
    border-radius: 5px;
    background-color: #D8D8D8;
    border: none;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: -1px;
    margin-bottom: 10px;

}

.wpcf7-submit:hover {
    background-color: darkgrey;
}

.contactform p {
    text-transform: uppercase;
    font-size: 16px;
    color: #313144;
    letter-spacing: -1px;
}


/* ------------------------------ Accueil ------------------------------  */

.hero {
    width: 100%;
    margin: 0;
    max-width: none;
}
.hero .hero-photo {
    position: relative;
    margin: auto;
    align-items: center;
    width: 100%;
    max-height: 962px;
}

.hero img {    
    object-fit: cover;
    object-position: 50% 50%;
    min-width: 100%;
    max-height: 962px;
    max-width: 1440px;
}

.hero-title {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 96px;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.filters {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 40px auto 40px;
}

.cate_format {
    display: flex;
}

.category {
    margin-right: 20px;
}

.trierpar {
    margin-left: 345px;
}

.filters select {
    width: 260px;
    height: 43px;
    border: 2px #B8BBC2 solid;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    cursor: pointer;
    appearance: none;
    background-image: url('../images/Icon.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 220px;
    
}

.filters option {
    font-size: 15px;
    font-weight: 600; 
}

.indexphoto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto 20px;
    gap: 15px;
}

.overlay-image  {
    width:564px;
    height:495px;
    position: absolute;
}

.image-post:hover .image-contenu{
	background: rgba(0,0,0,0.5);
	display: block;
}

.image-contenu{
	position: absolute;
	width: 564px;
	height: 495px;
	display: flex;
	flex-direction: column;
	display: none;
}


.hover-title{
	text-transform: uppercase;
	color: white;
	position: absolute;
	left: 20px;
    top: 445px;
}

.hover-categorie{
	text-transform: uppercase;
	position: absolute;
	right: 20px;
    top: 445px;
}

.hover-categorie a {
    text-decoration: none;
    color: white;
}

.fullscreen {
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
    
}

.eye {
	color: white;
	position: absolute;
	left: 260px;
	bottom: 220px;
	cursor: pointer;
}

.image-post article {
    overflow: hidden;
	width: 564px;
	height: 495px;
}

.img-block img{
	object-fit: cover;
	width: 100%;
	height: 495px;
}

.button_loadmore {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 35px;
}

.button_loadmore a {
    text-decoration: none;
}

.loadmore_style {
    background-color: #D8D8D8;
    border: none;
    padding: 15px 90px 15px 90px;
    border-radius: 3px;
}

/* ------------------------------ Single photo ------------------------------  */

.photodetails {
    display: flex;
    width: 100%;
    margin-top: 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.photo-title {
    font-size:  82px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 70px;
    margin: 0 0 15px;
}

.photodetails p {
    text-transform: uppercase;
    cursor: default;
    font-size: 20px;
    margin: 10px;
}

.photodetails a {
    text-decoration: none;
    cursor:default;
    pointer-events: none;
    color: black;
}

.refphoto {
    border-bottom: solid 1px black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.post {
    position: relative;
	display: flex;
    width: 50%;
	margin-top: 30px;
    margin-left: 20px;
}

.post:hover .single-image-hover{
	background: rgba(0,0,0,0.5);
	display: block;
}

.single-image-hover{
	position: absolute;
	width: 100%;
    height: 100%;
    max-width: 563px;
    max-height: 844px;
	display: flex;
	flex-direction: column;
	display: none;
}

.single-image-hover .fullscreen {
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
    width: 38px;
    height: 38px;
}

.post img{
	display: flex;
	width: 100%;
    height: 100%;
    max-height: 844px;
    max-width: 563px;
    object-fit: cover;
}

.single-image {
    min-height: 400px;
}


/* ------------------------------ Section interet ------------------------------  */

.interesse {
    display: flex;
    max-width: 1440px;
    margin: 40px auto;
}

.textbutton {
    margin-bottom: 40px;
    display: flex;
}

.buttoncontact {
    margin-left: 120px;
    padding:20px 130px 20px 130px;
    cursor: pointer;
    background-color: #D8D8D8;
    border: none;
    border-radius: 3px;
}


/* ------------------------------ Next and previous ------------------------------  */

.next-prev-photo {
	display: flex;
	justify-content: end;
    margin-left: 383px;
    margin-top: -20px;
}

.next_photo {
    margin-left: 20px;
}

.right,
.left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}

.arrowleft {
    margin-right: 45px
}


/* ------------------------------ Vous aimerez aussi ------------------------------  */

.vousaimerezaussi{
	font-family: "Space Mono";
	text-transform: uppercase;
}

.vousaimerezaussi p{
	margin-bottom: 50px;
	margin-top: 70px;
	font-size: 22px;
    text-align: center;
}

.same-photo-cat{
	display: flex;
	justify-content: center;
	gap: 30px;
}

.double-img {
	display: flex;
	justify-content: center;
}

.same-photo-cat img{
	width: 564px;
	height: 495px;
	object-fit: cover;
}

.double-img:hover .image-contenu {
    background: rgba(0,0,0,0.5);
	display: block;
}


.double-img:hover .image-contenu .fullscreen {
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
    width: 40px;
    height: 40px;
}

.double-img:hover .image-contenu .eye {
	color: white;
	position: absolute;
	left: 260px;
	bottom: 220px;
	cursor: pointer;
    width: 10%;
    height: 10%;
}

.plusdephoto{
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.plusdephoto button {
    cursor: pointer;
}



.border {
    border-bottom: solid 1px black;
    display: flex;
}


/* ------------------------------ Lightbox ------------------------------  */

#lightbox{
    display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.8);
	background-size: contain;
	background-position: center;
}

.lightbox-img{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	margin-right: 50px;
	min-height: 100vh;
}

.lightbox-img img{
	max-width: 800px;
	max-height: 800px;
	object-fit: contain;
}

.lightbox-next,
.lightbox-previous{
	background-color: transparent;
	color: white;
	border: none;
	position: fixed;
	top: 50%;
	cursor: pointer;
	font-family: "space mono";
}

.lightbox-next{
	left: auto;
	right: 350px;
}

.lightbox-previous{
	left: 350px;
	right: auto;
}

.lightbox-close{
    color: white;
    font-size: 4em;
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.lightbox-info{
	position: absolute;
	bottom: 50px;
	right: 500px;
	left: 500px;
	display: flex;
	justify-content: space-between;

}

.lightbox-ref,
.lightbox-cate{
	color: white;
	font-family: "space mono";
	text-transform: uppercase;
	text-shadow: 1px 1px 3px #0D0D0D;
}

/* ------------------------------ Menu burger ------------------------------  */

.burger_nav {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.menu-burger {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #E00000;
    margin-top: 2%;
}

.contactburger {
    border: none;
    color: white;
    background: #E00000;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: -5%;
}

@media screen and (max-width: 800px) {
    #menu-header {
        display: none ;
    }

    .btn-menu-burger {
        width: 30px;
        height: 40px;
        cursor: pointer;
        position: relative;
        left: 20%;
        top: 5%;
    }

    .btn-menu-burger span {
        width: 100%;
        height: 3px;
        background-color: black;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.5s ease-in-out;
    }

    .btn-menu-burger span::before,
    .btn-menu-burger span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: black;
        transition: transform 0.5s ease-in-out;
    }


    .btn-menu-burger span::after {
        transform: translateY(10px);
    }

    .btn-menu-burger span::before {
        transform: translateY(-10px);
    }

    .btn-menu-burger.active span {
        background-color: transparent;

    }

    .btn-menu-burger.active span::before {
        transform: translateY(0px) rotateZ(45deg);
    }

    .btn-menu-burger.active span::after {
        transform: translateY(0px) rotateZ(-45deg);
    }

    .burger_nav {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
        border: solid 1px #ffd5a2;
        overflow: hidden;
    }

    .listelien {
        list-style-type: none;
    }
    
    .listelien a {
        color: white;
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
        text-decoration: none;

    }

    .open {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E00000;
        width: 761px;
    }

    .drop {
        
        top: -3000px;
        left: -6500px;
        right: 0;
        bottom: 0;
        background: #E00000;
        cursor: pointer;
        animation: fade .1s;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
     
        to {
            opacity: 1;
        }
     }

    .remove {
        display: none !important;
    }

    .btnhover {
        margin-top: 1%;
        margin-bottom: 5%;
    }

    button.btn-menu-burger {
        display: block !important;
        z-index: 99;
     }
}






/* ------------------------------ Responsive ------------------------------  */

@media screen and (max-width: 1280px) {

    body {
        max-width: 1024px;
    }

   .hero {
    max-width: 1280px;
   }

   #header {
    margin-left: 50px;
   }
}

@media screen and (max-width: 1024px) {

#header {
    width: 100%;
}

.hero img {
    max-width: 993px;
    max-height: 500px;
}

.hero-title {
    font-size: 65px;
}

.filters {
    flex-direction: column;
}

.cate_format {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    margin-right: 0;
    margin-bottom: 20px;
}
.trierpar {
    display: inline;
    margin-left: 373px;
    margin-top: 20px;
}

.textbutton p {
    font-size: 10px;
}

.buttoncontact {
    margin-left: 115px;
    padding: 5px 80px 5px 80px;

}

.same-photo-cat {
    display: flex;
    flex-direction: column;

}

.lightbox-img img {
    max-width: 700px;
    max-height: 585px;
}

.lightbox-next {
    right: 60px;
}

.lightbox-previous {
    left: 15px;
}

.lightbox-info {
    left: 250px;
    right: 250px;
}

.photo-title {
    font-size: 45px;
}

.photodetails p {
    font-size: 15px;
}
}


@media screen and (max-width: 768px) {

body {
    max-width: 768px;

}
.hero img {
    max-width: 760px;
}

.filters {
    margin-left: 40px;
    flex-direction: initial;
}
.trierpar {
    margin-left: 140px;
}


.photo-title {
    font-size: 28px;
}

.photodetails {
    display: flex;
    flex-direction: column-reverse;
}

.photodetails p {
    font-size: 14px;
}

.textbutton {
    margin-bottom: 40px;
    display: inline;
}

.textbutton p {
    font-size: 10px;
    margin-bottom: 45px;
}

.buttoncontact {
    margin-left: 0px;
    padding: 5px 80px 5px 80px;
}

.next-prev-photo {
    justify-content: end;
    margin-left: 330px;
    margin-top: -20px;
}

.lightbox-close {
    top: 100px;
    right: 200px;
}

.lightbox-img {
    margin-left: -70px;
    margin-right: 50px;
    min-height: 120vh;
}

.lightbox-previous {
    left: 15px;
    bottom: -200px;
    font-size: 25px;
}

.lightbox-next {
    right: 150px;
    bottom: -200px;
    font-size: 25px;
}

.lightbox-info {
    left: 105px;
    right: 205px;
    bottom: 235px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    align-items: center;
    margin-bottom: 50px;
}

.footer-menu li {
    margin-bottom: 30px;
}

}

@media screen and (max-width:412px) {
    body {
        max-width: 412px;
    }

    .logo {
        width: 140px;
        height: 12px; 
    }
    .hero img {
        max-width: 405px;
    }

    .hero-title {
        font-size: 35px;
        left: 51%;
    }

    .filters {
        display: flex;
        flex-direction: column;
    }

    .trierpar {
        margin-left: 48px;
    }

    .image-post article {
        width: 564px;
        height: 389px;
    } 

    .img-block img {
        object-fit: cover;
        width: 57%;
        height: 70%;
        margin-left: 125px;
    }

    .image-contenu {
        width: 57%;
        height: 70%;
    }

    .eye {
        left: 263px;
        bottom: 440px;
    }

    .fullscreen {
        right: -200px;
    }
    .footer-menu li {
        font-size: 12px;
    }

    .btn-menu-burger {
        left: 15%;
    }

    .open {
        width: 412px;
    }

    .listelien a {
        font-size: 18px;
    }

    .contactburger {
        font-size: 18px;
    }

    .modale {
        max-width: 412px;
    }

    .modale-content {
        width: 380px;
        margin-top: 100px;
    }

    #lightbox {
        display: none !important;
    }

    .image-post:hover .image-contenu {
        display: none;
    }

    .post {
        margin-left: 75px;
        width: 75%;
    }

    .refphoto {
        margin-top: 20px;
        width: 107%;
    }

    .photo-title {
        font-size: 53px;
        line-height:50px;
        margin-left: 70px;
    }

    .photodetails p {
        font-size: 15px;
        margin-left: 75px;

    }

    .next-prev-photo {
        display: none;
    }

    .textbutton {
        margin-left: 100px;
        text-align: center;
    }

    .border {
        border: none;
    }

    .same-photo-cat {
        display: flex;
        flex-direction: column;
    }
    .same-photo-cat img {
        width: 100%;
        height: 95%;
    }

    .double-img {
        margin-left: 10px;
    }

   .double-img:hover .image-contenu {
    display: none;
   }

   .interesse {
    border-bottom: black 2px solid;
    width: 107%;
   }
}

