* {
    box-sizing: border-box;
    font-family:'Space Mono', monospace;
}


main, #header {
    max-width: 1440px;
    margin : 0 auto;
}


/* ------------------------------ Header ------------------------------  */


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    width: 316px;
    height: 24px;
}

.header-menu {
    display: flex;
}

.header-menu li {
    list-style: none;
}

.header-menu a {
    text-decoration: none;
    color: black;
    margin-left: 70px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'Space Mono', monospace;
}

.header-menu a:hover {
    font-weight: 700;
}

#Btncontact {
    cursor: pointer;
}


/* ------------------------------  Footer ------------------------------  */


#footer {
    border-top: 1px solid black;
}
.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu li {
    list-style: none;
}

.footer-menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    line-height: 24px;
    margin-left: 70px;
    font-family: 'Space Mono', monospace;
}

.footer-menu a:hover {
    font-weight: 700;
}

/* The Modal (background) */

.modale {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* ------------------------------ Contact ------------------------------  */

.modale-content {
    width: 600px;
    margin: auto;
    border: 5px solid black;
    margin-top: 150px;
    background-color: white;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contactimg {
    width: 590px;
}

.form {
    padding-top: 20px;
}

.wpcf7-form {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.wpcf7-form-control {
    background-color: #fff;

}

.wpcf7-textarea {
    height: 210px;
    width: 263px;
    border: 1px solid #B8BBC2;
    border-radius: 10px;
    margin-top: 5px;
}

.wpcf7-text {
    height: 40px;
    width: 263px;
    border: 1px solid #B8BBC2;
    border-radius: 10px;
    margin-top: 5px;
}

.wpcf7-submit {
    height: 50px;
    width: 263px;
    border-radius: 5px;
    background-color: #D8D8D8;
    border: none;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: -1px;
}

.wpcf7-submit:hover {
    background-color: darkgrey;
}

.contactform p {
    text-transform: uppercase;
    font-size: 16px;
    color: #313144;
    letter-spacing: -1px;
}


/* ------------------------------ Accueil ------------------------------  */
.hero .hero-photo {
    position: relative;
    margin: auto;
    align-items: center;
    width: 100%;
    max-height: 962px;
}

.hero img {    
    object-fit: cover;
    object-position: 50% 50%;
    min-width: 100%;
    max-height: 962px;
}

.hero-title {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 96px;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.filters {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.cate_format {
    display: flex;
}

.category {
    margin-right: 20px;
}

.filters select {
    width: 260px;
    height: 43px;
    border: 2px #B8BBC2 solid;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    cursor: pointer;
    appearance: none;
    background-image: url('../images/Icon.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 220px;
    
}

.filters option {
    font-size: 15px;
    font-weight: 600;
}


.indexphoto figure {
    width:42vw;
    height:70vh;
    object-fit: cover;
}

.indexphoto{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:95vw;
}

.indexphoto figure img{
    width:42vw;
    height:70vh;
    object-fit: cover;
}







/* ------------------------------ Single photo ------------------------------  */

.photodetails {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.photo-title {
    font-size:  42px;
    text-transform: uppercase;
}

.photodetails p {
    text-transform: uppercase;
    cursor: default;
    
}

.photodetails a {
    text-decoration: none;
    cursor:default;
}

.refphoto {
    border-bottom: solid 1px black;
}

.photo {
    max-width: 564px;
    position: relative;
    
}

.photo img{
    max-width: 265px;
    max-height: 397px;
}