* {
    box-sizing: border-box;
    font-family:'Space Mono', monospace;
}


main, #header {
    max-width: 1440px;
    margin : 0 auto;
}


/* ------------------------------ Header ------------------------------  */


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    width: 316px;
    height: 24px;
}

.header-menu {
    display: flex;
}

.header-menu li {
    list-style: none;
}

.header-menu a {
    text-decoration: none;
    color: black;
    margin-left: 70px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'Space Mono', monospace;
}

.header-menu a:hover {
    font-weight: 700;
}


/* ------------------------------  Footer ------------------------------  */


#footer {
    border-top: 1px solid black;
}
.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu li {
    list-style: none;
}

.footer-menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    line-height: 24px;
    margin-left: 70px;
    font-family: 'Space Mono', monospace;
}

.footer-menu a:hover {
    font-weight: 700;
}

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* ------------------------------ Contact ------------------------------  */

.modale-content {
    width: 600px;
    margin: auto;
    border: 5px solid black;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contactimg {
    width: 590px;
}

.form {
    padding-top: 20px;
}

.wpcf7-form {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.wpcf7-form-control {
    background-color: #fff;

}

.wpcf7-textarea {
    height: 210px;
    width: 263px;
    border: 1px solid #B8BBC2;
    border-radius: 10px;
    margin-top: 5px;
}

.wpcf7-text {
    height: 40px;
    width: 263px;
    border: 1px solid #B8BBC2;
    border-radius: 10px;
    margin-top: 5px;
}

.wpcf7-submit {
    height: 50px;
    width: 263px;
    border-radius: 5px;
    background-color: #D8D8D8;
    border: none;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: -1px;
}

.wpcf7-submit:hover {
    background-color: darkgrey;
}

.contactform p {
    text-transform: uppercase;
    font-size: 16px;
    color: #313144;
    letter-spacing: -1px;
}

